params {
  input_dir = "/scratch/work/courses/BI7653/hw2.2023/"
  output_dir = "results"
  reference_genome = "/scratch/work/courses/BI7653/hw3.2023/hg38/Homo_sapiens.GRCh38.dna_sm.primary_assembly.normalized.fa"
  task.memory = 32
  task.cpus = 8
}

profiles {
  local {
    process {
      executor = 'local'
      memory = '8GB'
      cpus = 4
    }
    singularity {
      enabled = true
    }
  }

  slurm {
    process {
      executor = 'slurm'
      memory = { task.memory + 'GB' }
      cpus = task.cpus ?: 1
      time = '12:00:00'
    }
    slurm {
      queue = 'your_slurm_queue_name'
      partition = 'your_slurm_partition_name'
      account = 'ajw9735'
    }
    singularity {
      enabled = true
      autoMounts = true
    }
  }
}

